{% comment %}
  This works for Dawn. Needs to be adjusted to your theme.
{% endcomment %}

{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <wishlist-page
    show-product-title
    show-price
    show-vendor
    show-share-button
    show-buy-all-button
    cta-button="add-to-cart"
    product-options="dropdowns"
    wishlist-empty-link="/collections/all"
  ></wishlist-page>
</div>
